<form novalidate >
    <label for="title1">Label</label>
    <input type="text" [required]="required" [disabled]="disabled" id="title1" name="title1" [(ngModel)]="title" #titleControl1="ngModel" />
    <rt-validation-messages [control]="titleControl1"></rt-validation-messages>
</form>
<form [formGroup]="form" >
        <label for="title">Label</label>
        <input type="text" id="title" name="title" formControlName="title" />
        <rt-validation-messages [control]="form.controls['title']"></rt-validation-messages>
    </form>
<button (click)="toogleRequiredReactive()">Toogle Required</button>
<button (click)="toogleDisabledReactive()">Toogle Disabled</button>